#position {
  position: fixed;
  top: 30%;
  left: 50%;
}

#hexagon{
  position: absolute;
  left: 150px;
  top: 150px
}


#anim_hx1 {
  animation: hexagon 2.5s infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 50px; 
  top: 45px;
}

#anim_hx2 {
  animation: hexagon 2.5s 150ms infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 100px; 
  top: 15px; 
}

#anim_hx3 {
  animation: hexagon 2.5s 300ms infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 148px; 
  top: 45px;
 
}

#anim_hx4 {
  animation: hexagon 2.5s 450ms infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 145px; 
  top: 100px;
}


#anim_hx5 {
  animation: hexagon 2.5s 600ms infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 100px; 
  top: 125px;
}


#anim_hx6 {
  animation: hexagon 2.5s 750ms infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 55px; 
  top: 100px;
}

#anim_hx7 {
  animation: hexagon 2.5s 950ms infinite ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  position: absolute; 
  left: 100px; 
  top: 70px;
}


/* -------------------------------------------- */

#circleMouve1 {
  animation-name: circle1;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  opacity: 0.5;

}

#circleMouve2 {
  animation-name: circle2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}


#circleMouve3 {
  opacity: 0.5;
}


@keyframes circle1 {
  to {
      stroke-dashoffset: 200;
      stroke-dasharray: 199 4;
  }
}
@keyframes circle2 {
  to {
      stroke-dashoffset: 200;
      stroke-dasharray:199 4;
  }
}

@keyframes hexagon {
    0% {
      opacity: 0;
      transform: scale(0);
  }

  20% {
      opacity: 0.6;
      transform: scale(1);
  }

  70% {
      opacity: 0.4;
      transform: scale(1);
  }

  90% {
      opacity: 0.2;
      transform: scale(1);
  }

  100% {
      opacity: 0;
      transform: scale(0);
  }

}

