
.image_item{
    height: 100px;
    margin-left: 1px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    aspect-ratio: 16 / 12;
}

.image_item:hover{
    transform: scale(1.1)
}

.image_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

